*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Rubik;
}

body{
    min-height: 100vh;
    background-color: hsl(226, 43%, 10%);
    padding: 10vh 4vh;
    max-width: 1400px;
    margin: 0 auto;
}

.profile-card{
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: hsl(246, 80%, 60%);
    padding: 2rem;
    border-radius: 15px;
}

.profile-image{
    width: 5rem;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile-info{
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
}

.main-title{
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}

.profile-name{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}

.options{
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    align-items: center;
}

.options a{
    color: hsl(235, 45%, 61%);
    text-decoration: none;
    font-weight: 400;
}

.options a:hover, .options a.active{
    color: #fff;
}

.container-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

.card{
    padding-top: 2rem;
    border-radius: 20px;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-position-y: -10px;
}

.card-content{
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    height: 100%;
}

.card-header{
    display: flex;
    flex-direction:row;
    padding: 1.5rem 2rem 0.2rem 2rem;
}

.card-body{
    padding:0.2rem 2rem 1.5rem 2rem;
}

.card-header, .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(236, 100%, 87%);
    border: none;
    align-items: center;
}

.category-name{
    color: #fff;;
}

.menu-btn{
    background-color: transparent;
    border: none;
    color: hsl(236, 100%, 87%);
    width: 2rem;
    height: 2rem;
}

.menu-btn:hover{
    color: #fff;
    cursor: pointer;
}

.current-hours{
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

.previous-hours{
    font-size: 0.8rem;
    align-self: center
}

@media (min-width: 992px) {
    body{
        display: grid;
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(6, 1fr);
        max-height: 100vh;
    }

    .profile-card{
        display: grid;
        grid-column: 2;
        grid-row: 2 / span 4;
        margin-right: 1rem;
    }

    .profile{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .profile-image{
        align-self: start;
    }

    .options{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1.5rem;
    }

    .option{
        width: 100%;
    }

    .container-card{
        display: grid;
        grid-column: 3 / span 3;
        grid-row: 2 / span 4;

        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
    }

    .card{
        height: 100%;
        margin: 0;
    }

    .card-header{
        height: 50%;
    }

    .card-body{
        flex-direction: column;
        text-align: left;
        height: 50%;
        align-items: start;
    }

    .previous-hours{
        align-self: start;
        font-size: 0.7rem;
    }

}